## Weather Data System Project: additional analytical information

### Objectives

*   Maximum, minimum, and standard deviation of temperatures per country and city for today, yesterday, current week, and last seven days.
*   Indicate the cities with the highest or lowest temperature for each hour, day, and week.
*   The number of times (hours) it rained in the last day and week.

## Start
Let's import the libraries that we will use for our project:

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from decouple import Config, RepositoryEnv

Let's describe our environment variables:

In [2]:
config = Config(RepositoryEnv("C:/Users/jmarc/Documents/VS Code/Turing/jmarci-DE2v2.2.5/.env"))
CONNECTION_STRING = config('CONNECTION_STRING')

Let's create a new Engine instance. This Engine instance will serve as the interface to your MySQL database, allowing you to execute SQL commands and interact with the database within your Jupyter notebook:

In [3]:
engine = create_engine(CONNECTION_STRING)

## Data Analysis

We'll now perform some quick analysis on this dataset.

In [4]:
temperature_differences_today = "SELECT * FROM weather_data_system_test.temperature_differences_today;"
temperature_differences_today = pd.read_sql(temperature_differences_today, engine)
print(temperature_differences_today)

           city_name country  max_temp  min_temp  stddev_temp
0           Istanbul      TR     16.82     15.35     0.478823
1             London      GB     16.44     13.88     0.683689
2   Saint Petersburg      RU     12.08      6.08     0.869204
3             Berlin      DE     16.39      7.36     2.881454
4             Madrid      ES     26.85     13.33     4.411006
5               Kyiv      UA     21.45     12.07     3.276315
6               Rome      IT     24.19     13.97     3.205011
7          Bucharest      RO     17.01     12.99     1.297754
8              Paris      FR     17.39     13.97     1.034386
9              Minsk      BY     10.86      6.86     1.240740
10            Vienna      AT     16.28      7.48     2.866466
11            Warsaw      PL     15.10      6.91     2.339466
12           Hamburg      DE     15.10      7.69     2.501318
13          Budapest      HU     17.76     10.01     2.053344
14          Belgrade      RS     15.37      6.97     2.023724
15         Barcelona      ES     26.05     18.51     2.442312
16            Munich      DE     16.48      6.78     2.911792
17           Kharkiv      UA     24.61     17.20     2.535322
18             Milan      IT     20.96     15.40     1.829762
19           Vilnius      LT     12.49      6.49     1.970921

In [5]:
temperature_differences_yesterday = "SELECT * FROM weather_data_system_test.temperature_differences_yesterday;"
temperature_differences_yesterday = pd.read_sql(temperature_differences_yesterday, engine)
print(temperature_differences_yesterday)

Empty DataFrame
Columns: [city_name, country, max_temp, min_temp, stddev_temp]
Index: []

In [6]:
temperature_differences_current_week = "SELECT * FROM weather_data_system_test.temperature_differences_current_week;"
temperature_differences_current_week = pd.read_sql(temperature_differences_current_week, engine)
print(temperature_differences_current_week)

           city_name country  max_temp  min_temp  stddev_temp
0           Istanbul      TR     16.82     15.35     0.478823
1             London      GB     16.44     13.88     0.683689
2   Saint Petersburg      RU     12.08      6.08     0.869204
3             Berlin      DE     16.39      7.36     2.881454
4             Madrid      ES     26.85     13.33     4.411006
5               Kyiv      UA     21.45     12.07     3.276315
6               Rome      IT     24.19     13.97     3.205011
7          Bucharest      RO     17.01     12.99     1.297754
8              Paris      FR     17.39     13.97     1.034386
9              Minsk      BY     10.86      6.86     1.240740
10            Vienna      AT     16.28      7.48     2.866466
11            Warsaw      PL     15.10      6.91     2.339466
12           Hamburg      DE     15.10      7.69     2.501318
13          Budapest      HU     17.76     10.01     2.053344
14          Belgrade      RS     15.37      6.97     2.023724
15         Barcelona      ES     26.05     18.51     2.442312
16            Munich      DE     16.48      6.78     2.911792
17           Kharkiv      UA     24.61     17.20     2.535322
18             Milan      IT     20.96     15.40     1.829762
19           Vilnius      LT     12.49      6.49     1.970921

In [7]:
temperature_comparison = pd.read_sql("SELECT * FROM weather_data_system_test.temperature_comparison;", engine)
pd.set_option('display.max_rows', None)
temperature_comparison.index = temperature_comparison.index + 1
temperature_comparison

,city_name,country,max_temperature,min_temperature,temperature_stddev,period
1,Istanbul,TR,16.82,15.35,0.478823,today
2,London,GB,16.44,13.88,0.683689,today
3,Saint Petersburg,RU,12.08,6.08,0.869204,today
4,Berlin,DE,16.39,7.36,2.881454,today
5,Madrid,ES,26.85,13.33,4.411006,today
6,Kyiv,UA,21.45,12.07,3.276315,today
7,Rome,IT,24.19,13.97,3.205011,today
8,Bucharest,RO,17.01,12.99,1.297754,today
9,Paris,FR,17.39,13.97,1.034386,today
10,Minsk,BY,10.86,6.86,1.240740,today
11,Vienna,AT,16.28,7.48,2.866466,today
12,Warsaw,PL,15.10,6.91,2.339466,today
13,Hamburg,DE,15.10,7.69,2.501318,today
14,Budapest,HU,17.76,10.01,2.053344,today
15,Belgrade,RS,15.37,6.97,2.023724,today
16,Barcelona,ES,26.05,18.51,2.442312,today
17,Munich,DE,16.48,6.78,2.911792,today
18,Kharkiv,UA,24.61,17.20,2.535322,today
19,Milan,IT,20.96,15.40,1.829762,today
20,Vilnius,LT,12.49,6.49,1.970921,today
21,Istanbul,TR,16.82,15.35,0.478823,current_week
22,London,GB,16.44,13.88,0.683689,current_week
23,Saint Petersburg,RU,12.08,6.08,0.869204,current_week
24,Berlin,DE,16.39,7.36,2.881454,current_week
25,Madrid,ES,26.85,13.33,4.411006,current_week
26,Kyiv,UA,21.45,12.07,3.276315,current_week
27,Rome,IT,24.19,13.97,3.205011,current_week
28,Bucharest,RO,17.01,12.99,1.297754,current_week
29,Paris,FR,17.39,13.97,1.034386,current_week
30,Minsk,BY,10.86,6.86,1.240740,current_week
31,Vienna,AT,16.28,7.48,2.866466,current_week
32,Warsaw,PL,15.10,6.91,2.339466,current_week
33,Hamburg,DE,15.10,7.69,2.501318,current_week
34,Budapest,HU,17.76,10.01,2.053344,current_week
35,Belgrade,RS,15.37,6.97,2.023724,current_week
36,Barcelona,ES,26.05,18.51,2.442312,current_week
37,Munich,DE,16.48,6.78,2.911792,current_week
38,Kharkiv,UA,24.61,17.20,2.535322,current_week
39,Milan,IT,20.96,15.40,1.829762,current_week
40,Vilnius,LT,12.49,6.49,1.970921,current_week
41,Istanbul,TR,24.36,15.35,2.273692,last_7_days
42,London,GB,17.93,11.11,1.272822,last_7_days
43,Saint Petersburg,RU,18.36,6.08,2.536441,last_7_days
44,Berlin,DE,25.36,7.36,2.842050,last_7_days
45,Madrid,ES,26.85,11.80,3.027081,last_7_days
46,Kyiv,UA,27.87,12.07,4.048140,last_7_days
47,Rome,IT,25.66,13.97,2.376786,last_7_days
48,Bucharest,RO,29.08,12.99,4.226199,last_7_days
49,Paris,FR,18.74,13.37,1.079759,last_7_days
50,Minsk,BY,25.86,6.86,4.696222,last_7_days
51,Vienna,AT,24.38,7.48,3.007685,last_7_days
52,Warsaw,PL,25.62,6.91,4.200655,last_7_days
53,Hamburg,DE,22.41,7.69,2.706046,last_7_days
54,Budapest,HU,26.27,10.01,3.091667,last_7_days
55,Belgrade,RS,27.85,6.97,4.373853,last_7_days
56,Barcelona,ES,29.53,17.85,3.008843,last_7_days
57,Munich,DE,22.21,6.78,2.820355,last_7_days
58,Kharkiv,UA,24.84,15.15,3.011896,last_7_days
59,Milan,IT,20.96,14.59,1.574859,last_7_days
60,Vilnius,LT,24.49,6.49,4.300458,last_7_days

In [8]:
temperature_differences_last_7_days = "SELECT * FROM weather_data_system_test.temperature_differences_last_7_days;"
temperature_differences_last_7_days = pd.read_sql(temperature_differences_last_7_days, engine)
print(temperature_differences_last_7_days)

           city_name country  max_temp  min_temp  stddev_temp
0           Istanbul      TR     24.36     15.35     2.273692
1             London      GB     17.93     11.11     1.272822
2   Saint Petersburg      RU     18.36      6.08     2.536441
3             Berlin      DE     25.36      7.36     2.842050
4             Madrid      ES     26.85     11.80     3.027081
5               Kyiv      UA     27.87     12.07     4.048140
6               Rome      IT     25.66     13.97     2.376786
7          Bucharest      RO     29.08     12.99     4.226199
8              Paris      FR     18.74     13.37     1.079759
9              Minsk      BY     25.86      6.86     4.696222
10            Vienna      AT     24.38      7.48     3.007685
11            Warsaw      PL     25.62      6.91     4.200655
12           Hamburg      DE     22.41      7.69     2.706046
13          Budapest      HU     26.27     10.01     3.091667
14          Belgrade      RS     27.85      6.97     4.373853
15         Barcelona      ES     29.53     17.85     3.008843
16            Munich      DE     22.21      6.78     2.820355
17           Kharkiv      UA     24.84     15.15     3.011896
18             Milan      IT     20.96     14.59     1.574859
19           Vilnius      LT     24.49      6.49     4.300458

In [9]:
highest_temperature_city_today = "SELECT * FROM weather_data_system_test.highest_temperature_city_today;"
highest_temperature_city_today = pd.read_sql(highest_temperature_city_today, engine)
print(highest_temperature_city_today)

  city_name country  max_temp
0    Madrid      ES     26.85

In [10]:
highest_temperature_city_last_week = "SELECT * FROM weather_data_system_test.highest_temperature_city_last_week;"
highest_temperature_city_last_week = pd.read_sql(highest_temperature_city_last_week, engine)
print(highest_temperature_city_last_week)

  city_name country  max_temp
0    Madrid      ES     26.85

In [11]:
highest_temperature_city_last_hour = "SELECT * FROM weather_data_system_test.highest_temperature_city_last_hour;"
highest_temperature_city_last_hour = pd.read_sql(highest_temperature_city_last_hour, engine)
print(highest_temperature_city_last_hour)

  city_name country  max_temp
0    Madrid      ES     26.85

In [12]:
rainy_hours_today = "SELECT * FROM weather_data_system_test.rainy_hours_today;"
rainy_hours_today = pd.read_sql(rainy_hours_today, engine)
print(rainy_hours_today)

   rainy_hours
0            0

In [13]:
rainy_hours_last_week = "SELECT * FROM weather_data_system_test.rainy_hours_last_week;"
rainy_hours_last_week = pd.read_sql(rainy_hours_last_week, engine)
print(rainy_hours_last_week)

   rainy_hours
0          896

## Close the Connection

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources:

In [14]:
engine.dispose()